<h1>FLEXlm Features Report for Department <%= @department.name %></h1>
<% if use_jqgrid %>
  <p>Double click a row to view more options for that feature.</p>
<% end %>
<%= render :partial => "/table" %>

