/* line 7, ../../app/stylesheets/ie.scss */
body.bp-base {
  text-align: center;
}
/* line 44, ../../../../../../../../home/msi/chilton/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
* html body.bp-base legend {
  margin: 0px -8px 16px 0;
  padding: 0;
}
/* line 48, ../../../../../../../../home/msi/chilton/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
html > body.bp-base p code {
  *white-space: normal;
}
/* line 60, ../../../../../../../../home/msi/chilton/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp-base .container {
  text-align: left;
}
/* line 62, ../../../../../../../../home/msi/chilton/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp-base sup {
  vertical-align: text-top;
}
/* line 64, ../../../../../../../../home/msi/chilton/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp-base sub {
  vertical-align: text-bottom;
}
/* line 66, ../../../../../../../../home/msi/chilton/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp-base hr {
  margin: -8px auto 11px;
}
/* line 68, ../../../../../../../../home/msi/chilton/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp-base img {
  -ms-interpolation-mode: bicubic;
}
/* line 70, ../../../../../../../../home/msi/chilton/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp-base fieldset {
  padding-top: 0;
}
/* line 72, ../../../../../../../../home/msi/chilton/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp-base legend {
  margin-top: -0.2em;
  margin-bottom: 1em;
  margin-left: -0.5em;
}
/* line 76, ../../../../../../../../home/msi/chilton/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp-base fieldset, body.bp-base #IE8#HACK {
  padding-top: 1.4em;
}
/* line 77, ../../../../../../../../home/msi/chilton/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp-base legend, body.bp-base #IE8#HACK {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 78, ../../../../../../../../home/msi/chilton/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp-base textarea {
  overflow: auto;
}
/* line 80, ../../../../../../../../home/msi/chilton/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp-base label {
  position: relative;
  top: -0.25em;
}
/* line 84, ../../../../../../../../home/msi/chilton/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp-base input.text {
  margin: 0.5em 0;
  background-color: white;
  border: 1px solid #bbbbbb;
}
/* line 88, ../../../../../../../../home/msi/chilton/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp-base input.text:focus {
  border: 1px solid #666666;
}
/* line 90, ../../../../../../../../home/msi/chilton/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp-base input.title {
  margin: 0.5em 0;
  background-color: white;
  border: 1px solid #bbbbbb;
}
/* line 94, ../../../../../../../../home/msi/chilton/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp-base input.title:focus {
  border: 1px solid #666666;
}
/* line 96, ../../../../../../../../home/msi/chilton/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp-base input.checkbox {
  position: relative;
  top: 0.25em;
}
/* line 99, ../../../../../../../../home/msi/chilton/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp-base input.radio {
  position: relative;
  top: 0.25em;
}
/* line 102, ../../../../../../../../home/msi/chilton/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp-base input.button {
  position: relative;
  top: 0.25em;
}
/* line 105, ../../../../../../../../home/msi/chilton/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp-base textarea {
  margin: 0.5em 0;
}
/* line 107, ../../../../../../../../home/msi/chilton/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp-base select {
  margin: 0.5em 0;
}
/* line 109, ../../../../../../../../home/msi/chilton/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp-base button {
  position: relative;
  top: 0.25em;
}
