<h1>Users</h1>
<%= render :partial => "/table" %>
<%= model_link "Build FLEXlm User Reports for Multiple Resources", new_batch_resource_user_report_path %>
<%= model_link "Build Collectl User Reports for Multiple Resources", new_batch_resource_user_report_path(:data_source => :collectl) %>

