<h1>Departments</h1>
<%= render :partial => "/table" %>
<%= model_link "Build FLEXlm Department Reports for Multiple Resources", new_batch_resource_report_path(:data_source => :flexlm, :model_type => :department) %>
<%= model_link "Build Collectl Department Reports for Multiple Resources", new_batch_resource_report_path(:data_source => :collectl, :model_type => :department) %>