<h1>Department <%= @department.name %></h1>
<%= model_field :name, "Name", @department.name %>

<%= model_link "View Department on MSI DB", @department.msi_db_link, :id => "msi_db_link" %>
<%= model_link "Back to Department Index", departments_path %>
