$blueprint_grid_width: 40px;

// Colors from MSI DB site
$dark_red: #7a0019;
$dark_gray: #808080;
$medium_gray: #cccccc;
$light_gray: #f5f5f5;

$link-color: $dark_red;
$link-hover-color: $dark_gray;

$blueprint-border-color: $dark_gray;

// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
@import "blueprint/liquid";


form.bp {
  @include blueprint-form;
  // You'll probably want to remove the scaffolding once you start styling your site.

  label {
    width: 50px;
    display: block;
  }
}

body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
}

#announcements {

  h2 {
    font-size: 1.2em;
    line-height: 1;
  }

  a {
    text-decoration: none;
    font-weight: 700;
  }

  .news_item {
    .title { font-weight: bold; }
    .date { font-style: italic; }
  }

}

.red-top {
  border-top: 2px solid $dark_red;
}

//html, body, div,

body .two-column {
  @include container;
  width: 94%;
  height: 100%;
  #header, #footer {
    @include column(24);
  }

  #sidebar {
    //$sidebar_columns: floor($blueprint_grid_columns / 4) - 1;
    padding-top: 10px;
    @include column(4);
    @include colborder;

    .link-group {
      list-style-type: none;

      lh {
        font-weight: 700;
        font-size: 1.05em;
      }

     a {
       text-decoration: none;
       font-weight: 700;
     }

     li {
       padding-left: 8px;
     }

    }

  }

  #content {
    height: 100%;
    padding-top: 10px;
    @include column(18, true);

    a {
      text-decoration: none;
      font-weight: 700;
    }

    h1 {
      font-size: 1.4em;
      font-weight: 700;
    }

    div.model_field {
      padding-bottom: 15px;

      div.model_field_value {
        margin-left: 10px;
      }

      div.model_field_label {
        width: 100px;
        font-weight: 900;
        font-size: 1.1em;
      }

    }

    #home {
      @include column(12);
      @include colborder;
    }

    #news {
      height: 100%;
      @include column(11, true);
    }


    .legend table {
      width: 1px;
    }

    .legendLabel {
      white-space:nowrap;
    }

    .model_link {
      display: block;
      padding-bottom: 5px;
    }

    .report_link {
      display: block;
      padding-bottom: 5px;
    }

    .form_item {
      label {
        width: 100%;
      }

    }


  }

  div.flot_canvas {width:600px; height:300px}
  div.flot_overview {margin-top: 10px; width:600px; height:50px}

  div#d_clip_container {
    position: relative;
  }

}


// http://stackoverflow.com/questions/444842/altering-jquery-datepicker-to-work-with-blueprint-css
/* JQUERY-UI + BLUEPRINT CSS CALENDAR FIX */
.ui-datepicker table{
  margin: 0; }
.ui-datepicker-calendar thead tr th , .ui-datepicker tbody tr td {
  background:white; color:#333;  }
.ui-datepicker-calendar thead tr th{
  padding: 5px 0; }
.ui-datepicker-calendar tbody td{
  padding:0 2px 2px 0; }
.ui-datepicker-calendar tbody td a{
  padding:0 1px 0 0; }
.ui-datepicker-calendar {
  font-size:0.8em; }

html, body { margin:0; padding:0; height:100%; }
iframe { margin:0; padding:0; height:100%; }
iframe { display:block; width:100%; border:none; }
