<h1>MSI Software Accounting</h1>

<div class="section" id="reports">
  <%= link_to "Software Report", resources_report_path %>
  <%= link_to "College Report", colleges_report_path %>
</div>
<div class="section" id="actions">
  <%= link_to "Purchases", purchases_path %>
</div>

<p />
