<h1>MSI Software Accounting</h1>
<p>
Welcome to the MSI software accounting web application. Right now this site produces reports of software usage based
on various FlexLM logs. In the future we hope to aggregate data from other sources and provide a more complete picture
of software usage at MSI.
</p>

<p />
