<h1>Collectl Executable Mappings</h1>
<p>
  This tables lists executables registered through collect that are not mapped to resources in MSI DB. 
  If you wish to build resource level reports with this web application, please be sure all
  the executables you are interested in are properly mapped to resources by assigning the relevant 
  executables below.
</p>
<% if use_jqgrid %>
  <p>D</p>
<% end %>
<%= render :partial => "/table" %>
