<h1><%= @title %></h1>
<% if use_jqgrid %>
  <p>Double click a row to view more options for that collectl executable.</p>
<% end %>
<%= render :partial => "/table" %>
<%= link_to 'New Executable', new_resource_collectl_executable_path(@resource.id) %>
