<h1>Collectl Executables for Resource <%= @resource.name %></h1>
<% if use_jqgrid %>
  <p>Double click a row to view more options for that collectl executable.</p>
<% end %>
<%= render :partial => "/table" %>
<%= link_to 'New Executable', new_resource_mappable_path(:resource_id => @resource.id) %>
