<h1>New Collectl Executable Mapping</h1>

<%= render :partial => 'resource_mappables/form' %>

<%= link_to 'Back', resource_mappables_path(:resource_id => @resource.id, :mappable_type => "collectl_executable") %>
