<h1>Colleges</h1>
<%= render :partial => "/table" %>
<%= model_link "Build FLEXlm College Reports for Multiple Resources", new_batch_resource_college_report_path %>
<%= model_link "Build Collectl College Reports for Multiple Resources", new_batch_resource_college_report_path(:data_source => :collectl) %>