<h1>FLEXlm Feature Mappings</h1>
<p>
  This chart describes how the concrete features tracked by FLEXlm are mapped into the abstract concept of resources
  that are defined in MSI DB. If you wish to build resource level reports with this web application, please be sure all
  the features you are interested in are properly mapped to resources by editing the FLEXlm mapping below.
</p>
<% if use_jqgrid %>
  <p>Double click a row to edit a FLEXlm feature mapping.</p>
<% end %>
<%= render :partial => "/table" %>
