    <p class="form_item">
      <label for="from">From</label>
      <%= text_field_tag("from", session[:last_from], :class=> 'date-selector') %>
    </p>
    <p class="form_item">
      <label for="to">To</label>
      <%= text_field_tag("to", session[:last_to], :class=> 'date-selector') %>
    </p>