
<% if params['enable_javascript'] != '1' %>
  <table id="data_table">
    <tr id="data_table_header">
      <% @fields.each do |field| %>
        <td><%= field[:label] || field[:field] %></td>
      <% end %>
      <% if not @view_link.blank? %> 
        <td></td>
      <% end%>
    </tr>
    <% @rows.all.each do |row| %>
      <tr class="data_table_data_row">
        <% @fields.each do |field| %>
          <td><%= row[field[:field].to_sym] %></td>
        <% end %>
        <% if not @view_link.blank? %>
          <td>
            <%= link_to "View", @view_link.call(row) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% else %>
  <%=raw jqgrid(@title, "data_table", url_for(:action => controller.action_name, :format => "json", :to => params[:to], :from => params[:from]), @fields,
    { :rows_per_page => @rows_per_page,
      :rowlist => @row_list,
      :autowidth => true,
      :height => 400,
      :scroll => @scroll
    }
    )
  %>
  <script type="text/javascript">
    $(document).ready(function() {
      configure_data_table($("#data_table"));
    });
  </script>

<% end %>
